recursive-include src/rpagui/VK/.vs *
recursive-include src/rpagui/VK/bin *
recursive-include src/rpagui/VK/obj *
recursive-include src/rpagui/VK/Properties *
recursive-include src/rpagui/commandlineinstaller *
recursive-include src/rpagui/gbild *
include src/rpagui/VK/App.config
include src/rpagui/VK/Program.cs
include src/rpagui/VK/VK.csproj
include src/rpagui/VK/VK.sln
include src/rpagui/gbild/gbild32.dll
include src/rpagui/gbild/gbild64.dll